.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.button-padding-8 {
    padding-top: 8px;
}

.border-none {
    border: none;
}

/*.width-80 {*/
/*    width: 80%;*/
/*}*/

/*.display-inline-block {*/
/*    display: inline-block !important;*/
/*}*/

.nav-append {
    list-style: none;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.cards-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.diagrams-margin {
    margin-bottom: 30px;
}

.card-special {
    height: 100%;
}

.custom-file-input::file-selector-button {
    content: attr(data-text) !important;
}
