<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firewall Rules</title>
    {% load static %}

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/firewall_styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        h5, p {
            color: #ffffff !important;
        }

        .text-wheat {
            color: wheat !important;
        }
    </style>
</head>
<body>

<div class="dashboard">
    <aside class="sidebar">
        <ul class="sidebar-nav">
            <li><a href="{% url 'user_detail' request.user.pk %}" class="">Dashboard</a></li>
            <li><a href="{% url 'user_statistics' %}">User Statistics</a></li>
            <li><a href="{% url 'firewall_rules' %}">Firewall Rules</a></li>
            <li><a href="{% url 'all_rules' %}" class="active">All Rules</a></li>
            <li>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style="display: block; padding: 0.8rem 2rem; color: var(--text-medium); text-decoration: none; transition: all 0.3s ease; border-left: 3px solid transparent; background: none; border: none;">
                    Add Report
                </button>
            </li>
            <li>
                <a href="{% url 'export_excel' request.user.pk %}?report_id={{ report.id }}&is_fraud={{ current_is_fraud }}">
                    Export to EXCEL
                </a>
            </li>
            <li>
                <a href="{% url 'export_csv' request.user.pk %}?report_id={{ report.id }}&is_fraud={{ current_is_fraud }}">
                    Export to CSV
                </a>
            </li>
            <li><a href="{% url 'user_settings' user.pk %}">Settings</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </aside>

    <div class="main-content">
        <div class="container">
        <h1 class="text-center mb-4">All Generated Firewall Rules - Username: {{ user.username }}</h1>

            {% if transactions_with_rules %}
                <div class="rule-preview" style="margin-bottom: 30px;">
                    <h5 class="text-success" style="margin-bottom: 10px;">All Rules Console</h5>
                    <pre style="
                        background-color: #1e1e1e;
                        color: #a6e22e;
                        padding: 20px;
                        border-radius: 10px;
                        font-size: 14px;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    ">
                    {% for item in transactions_with_rules %}
    # --- Connection ID: {{ item.id }} ---
    {{ item.rule }}

                    {% endfor %}
                    </pre>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{# End of new dashborad #}


</body>
</html>