{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container mt-200">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
                    <h3>Форма регистрации</h3>

                    <!-- Display form errors if any -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <form method="post" action="{% url 'register' %}" data-aos="fade-up"
                          data-aos-delay="200">
                        {% csrf_token %}
                        <div class="row gy-4">

                            <div class="col-md-6">
                                {{ form.username }}
                            </div>

                            <div class="col-md-6 ">
                                {{ form.first_name }}
                            </div>

                            <div class="col-md-6">
                                {{ form.last_name }}
                            </div>

                            <div class="col-md-6">
                                {{ form.email }}
                            </div>

                            <div class="col-md-6">
                                {{ form.password }}
                            </div>

                            <div class="col-md-6">
                                {{ form.password_confirm }}
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-round btn-primary me-0 me-sm-2 mx-1">Зарегистрироваться
                                </button>
                                <div class="d-inline-block">
                                    <h5>
                                    Уже есть аккаунт? 
                                    <a class="btn btn-round btn-success me-0 me-sm-2 mx-1"
                                       href="{% url 'login' %}">Войти</a>
                                    </h5>
                                </div>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}