{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/firewall_styles.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="form-container">
        <h2>Account settings - {{ user.username }}</h2>
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {% csrf_token %}
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary" style="width: 100%;">Save</button>
            <div class="form-footer">
                <p><a href="{% url 'user_detail' user.pk %}">Return Back</a></p>
            </div>


        </form>
    </div>
</div>

</body>
</html>